{% extends "base.html" %}

{% block content %}
<h1>University printing only easily allows for double sided printing !!</h1>
<p>As a result I have had to print lots of sheet music by manually splitting
    up PDFs into single pages.
</p>
<p>This project aims to solve this issue and make printing easier for other students 
    here at Durham University
</p>
<div class="underline"></div>
<p class="bottom-p">Select a file and download the individual pages in your Downloads folder.</p>
{% endblock %}